.content-body {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #dddddd;
}

.navigation ul .selected {
    background-color: #ff0000;
    border-radius: 10px;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
}
.map iframe {
    height: 90%;
    width: 98%;
    border-radius: 20px;
    border: 2px #ffffff solid;
}

.contact-info {
    background-color: #d4d4d4;
    
}
