.content-body {
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

/* Certificates */
.certificate {
    display: flex;
    gap: 50px;
    color: black;
}

.box {
    background-color: #FFFFFF;
    height: 180px;
    width: 400px;
    border-radius: 10px;
}

.box img {
    height: 180px;
    width: 400px;
    border-radius: 10px;
}

input {
    background-color: transparent;
}

.dot {
    background-color: #BBBBBB;
    display: inline-flex;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 40px 0 4px 4px;
    border-radius: 50%;
}

/* Skills */
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
}

.box2 {
    background-color: #FFFFFF;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.box2 img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}