.content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Certificates */
.certificate {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.box {
    flex: 0 0 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
    height: 180px;
}

.box.active {
    display: flex;
}

.box .info {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100%;
    width: 50%;
    background-color: #919191;
}

.box .info img {
    position: absolute;
    top: 10px;
    left: 350px;
    height: 150px;
    width: 200px;
}

.box .info p, h3 {
    width: 50%;
    padding: 0;
    margin: 5px 50px;
}


input {
    background-color: transparent;
}

.dot {
    background-color: #919191;
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 0 4px 4px;
    border-radius: 50%;
}
.dot.active {
    background-color: #000000;
}

.changing_cert_btn {
    position: absolute;
    display: flex;
    top: 145px;
    width: 80%;
    justify-content: space-between;
}
.changing_cert_btn button {
    height: 150px;
}

/* Skills */
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
}

.box2, .box2 img {
    border: 1px #000000 solid;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.current_page2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    top: 58%;
    width: 80%;
}
.line {
    background-color: #919191;
    height: 80px;
    width: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.line.active {
    background-color: #000000;
}


/* 1600 x 900 Screen - Laptop */
@media (max-width: 1600px) and (max-height: 900px) {

    .skills {
        gap: 50px;
    }

    .box2, .box2 img {
        height: 120px;
        width: 120px;
    }

    .dot {
        height: 10px;
        width: 10px;
    }

    .changing_cert_btn {
        top: 23%;
    }
    .changing_cert_btn button {
        height: 100px;
    }
}