.content-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.navigation ul .selected {
    background-color: #ff0000;
    border-radius: 10px;
}

.intro {
    margin-left: 150px;
    justify-content: center;
}

.intro p {
    font-size: 24px;
    margin: 0;
}

.intro strong {
    color: #ff0000;
}

.intro h2 {
    font-size: 64px;
    margin: 0;
}

.bg-circle {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: black;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.bg-circle .circle {
    background-color: #ff0000;
    height: 430px;
    width: 430px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

.bg-circle .circle2 {
    background-color: white;
    height: 360px;
    width: 360px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.bg-circle img {
    z-index: 2;
}