body {
    margin: 0;
    padding: 0;
}

.layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    height: 100vh;
    width: 100%;
}

/* ==== Sidebar ==== */
.sidebar {
    background-color: #1C1C1C;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: 60px max-content 1fr;
}

.logo {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px;
}

.navigation {
    display: grid;
}

.navigation ul {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(5, 40px);
    align-items: center;
    padding: 10px;
    margin: 0;
}

.navigation ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 20px;
}

.navigation ul li:hover {
    display: flex;
    align-items: center;
    background-color: red;
    height: 100%;
    border-radius: 10px;
}

/* ==== Main Content ==== */
.content {
    display: grid;
    grid-template-rows: 60px 1fr;
}

.topbar {
    background-color: #000000;
}