body {
    margin: 0;
    padding: 0;
}

.layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    height: 100vh;
    width: 100%;
}

/* ==== Sidebar ==== */
.sidebar {
    background-color: #1C1C1C;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: 60px max-content 1fr;
}

.logo {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px;
}

.navigation .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    font-size: 24px;
}

.navigation .profile img {
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.navigation ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.navigation ul li {
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.navigation ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 20px;
    width: 100%;
}

.navigation ul li svg {
    margin-right: 20px;
}

.navigation ul li:hover {
    background-color: #ff3a3a;
    border-radius: 10px;
}

/* ==== Main Content ==== */
.content {
    display: grid;
    grid-template-rows: 60px 1fr;
}

.topbar {
    background-color: #000000;
}