.content-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box, .box1, .box2 {
    height: 600px;
    width: 400px;
    border-radius: 10px;
}

.box {
    background-color: #1c1c1c;
    transform: translateX(120px);
}

.box1 {
    background-color: blue;
    margin-top: 80px;
    transform: translateX(0);
    z-index: 3;
}

.box2 {
    background-color: #1c1c1c;
    transform: translateX(-120px);
}