.content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
}

.project {
    display: flex;
}

.box, .box1, .box2 {
    height: 600px;
    width: 400px;
    border-radius: 10px;
}

.box {
    background-color: #FFFFFF;
    transform: translateX(120px);
}

.box1 {
    background-color: blue;
    margin-top: 80px;
    transform: translateX(0);
    z-index: 3;
}

.box2 {
    background-color: #FFFFFF;
    transform: translateX(-120px);
}

.dot {
    background-color: #BBBBBB;
    display: inline-flex;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 40px 2px 0 2px;
    border-radius: 50%;
}