.content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    height: 600px;
    width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
}

.dot {
    background-color: #919191;
    display: inline-flex;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 40px 2px 0 2px;
    border-radius: 50%;
}
.dot.active {
    background-color: #000000;
}

.button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40%;
    width: 70%;
}

.button button{
    background: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 1600px) and (max-height: 900px) {
    .box, .box1, .box2 {
        height: 500px;
        width: 300px;
        border-radius: 10px;
    }
}