.content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation ul .selected {
    background-color: #ff0000;
    border-radius: 10px;
}

.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    height: 600px;
    width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
}

.dot {
    background-color: #919191;
    display: inline-flex;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 40px 2px 0 2px;
    border-radius: 50%;
}
.dot.active {
    background-color: #000000;
}

.button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40%;
    width: 80%;
}

.button button{
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Projects CSS */
.card-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 70%;
}
.card-info {
    background-color: #1c1c1c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 30%;
    gap: 5px;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}
.card-info div {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 20px;
    gap: 2px;
}

.card-info img {
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffffff;
}

/* Responsiveness */
@media (max-width: 1600px) and (max-height: 900px) {
    .box {
        height: 500px;
        width: 300px;
        border-radius: 10px;
    }
    .card-info div {
        font-size: 12px;
    }

    .button {
        width: 80%;
    }
}