.content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
}

.box, .box1, .box2 {
    height: 600px;
    width: 400px;
    border-radius: 10px;
}

.box {
    background-color: #919191;
    transform: translateX(80px);
}

.box1 {
    background-color: #000000;
    margin-top: 80px;
    transform: translateX(0);
    z-index: 3;
}

.box2 {
    background-color: #919191;
    transform: translateX(-80px);
}

.dot {
    background-color: #919191;
    display: inline-flex;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 40px 2px 0 2px;
    border-radius: 50%;
}

.button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40%;
    width: 70%;
}

.button button{
    background: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 1600px) and (max-height: 900px) {
    .box, .box1, .box2 {
        height: 500px;
        width: 300px;
        border-radius: 10px;
    }
}