.resume_btn {
    background-color: green;
    height: 24px;
    width: 100px;
    text-align: center;
    border: 1px #000000 solid;
    border-radius: 5px;
    cursor: pointer;
}
.resume_btn a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}