.content-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.resume_btn {
    background-color: green;
    height: 24px;
    width: 100px;
    text-align: center;
    border: 1px #000000 solid;
    border-radius: 5px;
    cursor: pointer;
}
.resume_btn a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    background-color: #dddddd;
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
}
.card h3 {
    padding: 0;
    margin: 0;
}