.content-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.navigation ul .selected {
    background-color: #ff0000;
    border-radius: 10px;
}

.resume_btn {
    background-color: green;
    height: 24px;
    width: 100px;
    text-align: center;
    border: 1px #000000 solid;
    border-radius: 5px;
    cursor: pointer;
}
.resume_btn a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    background-color: #dddddd;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 5px #ff0000,
                0 0 10px #0000ff;
    animation: rgb-glow 3s linear infinite;
}

@keyframes rgb-glow {
    0%, 100% {
        box-shadow: 0 0 5px #ff0000,
                    0 0 10px #0000ff
    }
    50% {
        box-shadow: 0 0 5px #0000ff,
                    0 0 10px #ff0000
    }
}

.card h3 {
    padding: 0;
    margin: 0;
}